# Base de Datos
DB_USER=root
DB_PASSWORD=password
DB_HOST=db
DB_PORT=3306
DB_NAME=biblioteca

# JWT
JWT_SECRET_KEY=tu-clave-secreta-cambiar-en-produccion

# Flask
FLASK_DEBUG=True
FLASK_ENV=development